<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">flowDE developer tool</span>
            <div class="text-6xl text-primary font-bold mb-3">will supercharge your development on <label style="color: greenyellow;">flow</label></div>
            <p class="mt-0 mb-4 text-700 line-height-3">With flowDE's in-browser development environment, the first fully online developer experience on the flow Blockchain, you can BUILD, MANAGE, DEPLOY and INTERACT with your contracts ALL FROM THE WEB INTERFACE. No CLI installation required. Try it now.</p>
            <button pButton pRipple label="Launch flowDE" type="button" class="mr-3 p-button-raised" (click)="gotoIDE()"></button>
            <a pButton href="https://youtu.be/ERQGIVJ7LtI" target="_blank" rel="noopener noreferrer" class="p-button-text p-button-raised p-button-info">Watch Demo</a>
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="./../assets/fuelstation.png" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div>